body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.kotak {
    width: 300px;
    height: auto;
    background: orange;
    padding: 30px;
    color: #fff;
    margin-bottom: 20px;
}

.kotak span {
    color: #fff;
    background: #232323;
    border: none;
    padding: 10px;
}